{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}
<h2>Sign up</h2>
<form method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
    <div class="mb-3">
    <label for="full_name" class="form-label">Full name</label>
    <input type="full_name" class="form-control" id="full_name" name="full_name" required>
  </div><div class="mb-3">
    <label for="role" class="form-label">Role</label>
    <select class="form-select" id="role" name="role" required>
      <option value="student">Student</option>
      <option value="teacher">Teacher</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>
{% endblock %}
